.chatting-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 15px;
  gap: 16px
}

textarea {
  width: 100%;
  border: 1px solid var(--color-bg);
  padding: 10px 20px;
  border-radius: 5px;
  resize: none;
  transition: all .3s;
  outline: none;
}

.send-button {
  display: flex;
  width: 100%;
  justify-content: end;
}
.message-send {
  color: var(--color-white);
  text-transform: uppercase;
  font-weight: bold;
  background-color: var(--color-ltgreen);
  padding: 8px;
  border-radius: 4px;
  &:hover {
    background-color: var(--color-dkgreen);
  }
}

.message-send:disabled {
  cursor: default;
  background-color: var(--color-dkgray-50);
  &:hover {
    background-color: var(--color-dkgray-50);
  }
}

.radio-group {
  display: flex;
  gap: 12px;
  padding: 16px;
  border: 1px solid var(--color-bg)
}

.radio-option {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}

.radio-option input[type="radio"] {
  appearance: none;
  width: 20px;
  height: 20px;
  border: 1px solid #666;
  border-radius: 50%;
  margin: 0;
  cursor: pointer;
  position: relative;
}

.radio-option input[type="radio"]:checked {
  border-color: var(--color-dkgreen);
}

.radio-option input[type="radio"]:checked::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 10px;
  height: 10px;
  background-color: var(--color-dkgreen);
  border-radius: 50%;
}

.radio-option:hover input[type="radio"] {
  border-color: var(--color-dkgreen);
}

.radio-option label {
  font-size: 16px;
  cursor: pointer;
}