.tipsWrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto 1fr;
  gap: 1rem;
}

.searchContainer {
  display: flex;
  gap: 16px;
}

.searchBox {
  display: grid;
  grid-template-columns: 30px 1fr 30px;
  border: 1px solid var(--color-bg);
  border-radius: 4px;
}

.searchIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-gray-75);
}
 
.searchInput {
  border: none;
  padding: 4px;
  outline: none;
}

.newTip {
  color: var(--color-white);
  cursor: pointer;
  font-weight: bold;
  background: var(--color-ltgreen);
  padding: 4px 8px;
  border-radius: 4px;
  white-space: nowrap;
  &:hover {
    background-color: var(--color-dkgreen);
  }
}

/* TAB LIST */
.tabsHeader {
  display: flex;
  justify-content: space-around;
}

.tabButton {
  padding: 8px 16px;
  border: none;
  background: none;
  cursor: pointer;
  border-bottom: 2px solid transparent;
  transition: all 0.2s ease;

  &:hover {
    color: var(--color-dkgray);
    border-radius: 4px;
    background: var(--color-bg);
  }
}

.tab-Button.active {
  color: var(--color-dkgray);
  border-bottom-color: var(--color-burntorange);

  &:hover {
    background: none;
  }
}

.tipList {
  display: flex;
  flex-direction: column;
  gap: 4px;
  flex-grow: 1;
  overflow-y: auto;
  padding: 8px;
}

.tipCard {
  display: grid;
  grid-template-columns: 1fr 1fr;
  border: 1px solid var(--color-bg);
  border-radius: 4px;
  font-size: .75rem;
  padding: 4px;

  &:hover {
    background-color: var(--color-bg);
  }
}

.rightCol {
  justify-self: end;
}

.dangerIcon {
  display: flex;
  color: var(--color-burntorange);
  justify-content: end;
  margin-top: 16px;
}