.canned-wrapper {
  height: 400px;
}

.canned-grid {
  display: grid;
  grid-template-columns: 150px 1fr;
  grid-template-rows: 1fr;
  height: 100%;
}

.canned-category-list{
  height: 100%;
  border-right: 1px solid var(--color-bg);
}

.canned-category {
  display: grid;
  grid-template-columns: auto auto 1fr;
  align-items: center;
  gap: 8px;
  padding: 8px 12px;
  cursor: pointer;
  transition: background-color 0.2s;

  &:hover {
    background-color: var(--color-yellow);
  }
}

.canned-category-selected {
  background-color: var(--color-ltgreen);
  font-weight: bold;
  &:hover {
    background-color: var(--color-ltgreen);
  }
}

.canned-message-list {
  height: 100%;
  overflow-y: auto;
}

.canned-message {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  padding: 8px 12px;
  gap: 4px;
  cursor: pointer;

  &:hover {
    background-color: var(--color-yellow);
  }
}