.contacts-wrapper {
  height: 200px;
  overflow-y: auto;
}

.contacts-item {
  display: grid;
  grid-template-columns: auto auto 1fr;
  align-items: center;
  gap: 8px;
  padding: 8px 12px;
  cursor: pointer;
  transition: background-color 0.2s;

  &:hover {
    background-color: var(--color-yellow);
  }
}

.contacts-align-end {
  color: var(--color-gray);
  justify-self: end;
}