.call-container {
  display: flex;
  flex-direction: column;
  gap: 4px;
  flex-grow: 1;
  overflow-y: auto;
  padding: 8px;
}

.call-card {
  border: 1px solid var(--color-bg);
  border-radius: 4px;
  display: flex;
  font-size: var(--14px);
  padding: 4px;

  &:hover {
    background-color: var(--color-bg);
  }
}

.call-card-col {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 2px;
}

.call-card-row {
  display: flex;
  gap: 8px;
  align-items: center;
  width: 100%;
}

.call-type {
  height: 14px;
  width: 14px;
}

.align-end {
  align-items: end;
  white-space: nowrap;
}

.danger {
  color: var(--color-burntorange);
}