.chat-wrapper {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto auto minmax(0, 1fr) auto;
  min-width: 482px;
  border: none;
  border-radius: 4px;
  background-color: var(--color-white);
  box-shadow: 0px 0px 0px 1px rgba(64, 87, 109, .04), 0px 6px 20px -4px rgba(64, 87, 109, .3);
}

.chat-title {
  font-size: var(--h5);
  border-radius: 4px;
  height: fit-content;
  width: fit-content;
  background-color: var(--color-text);
  color: var(--color-white);
  padding: 4px 16px;
  box-shadow: 0px 0px 0px 1px rgba(64, 87, 109, .04), 0px 6px 20px -4px rgba(64, 87, 109, .3);
  margin-top: -19px;
  margin-left: 12px;
  white-space: nowrap;

  i {
    padding-left: 4px;
  }
}

.chat-tool-icons {
  display: flex;
  justify-content: end;
  align-items: center;
  grid-column: 2/3;
  grid-row: 1/3;
  padding: 12px;
  min-height: 60px;
  z-index: 10;
  color: var(--color-dkgray-75);
  gap: 2px;

  .fa, .fa-solid {
    cursor: pointer;
    padding: 3px 5px;
    margin: 0 0 0 3px;
    
    &:hover {
      color: var(--color-ltgreen);
    }
  }

  .icon-active {
    color: var(--color-dkgreen);
  }
}

.group-wrapper {
  display: flex;
  border: 1px solid var(--color-bg);
  border-radius: 4px;
  padding: 3px;

  .fa, .fa-solid {
    padding: 0;
  }

  &:hover {
    cursor: pointer;
  }
}

.case-details {
  display: flex;
  gap:8px;
  align-items: end;
  padding-top: 4px;
  padding-left: 12px;
  padding-bottom: 8px;
  white-space: nowrap;
}

/* chat messages */
.message-wrapper {
  grid-column: 1/3;
  grid-row: 3/4;
  overflow-y: auto;
  border-top: 1px solid var(--color-bg);
}

.message-group-wrapper {
  border-top: 1px dotted var(--color-bg);
  padding-bottom: 30px;
}

.message-wrapper > div:first-child {
  border-top: none;
}

.message-wrapper > div:last-child {
  padding-bottom: 1rem;
}

.message-group-date {
  position: sticky;
  top: 8px;
  padding: 8px;
  border: 1px solid var(--color-bg);
  border-radius: 4px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  margin: -20px auto 0 auto;
  width:fit-content;
  background-color: var(--color-white);
  font-weight: bold;
  font-size: var(--15px);
}

.message-wrapper > div:first-child > div:first-child {
  margin-top: 8px;
}

.message-element {
  display: grid;
  grid-template-columns: auto auto minmax(0, 1fr);
  grid-template-rows: auto 1fr;
  background-color: var(--color-white);
  padding: 12px 8px;
  gap: 4px 8px;
}

.message-element p:first-of-type {
  margin: 0;
  padding: 0;
}

.message-element:last-child {
  border: none;
}

.message-element-avatar {
  grid-row: span 2;
  width: 40px;
  height: 40px;
  overflow: hidden;
  border-radius: 50%;
  background: var(--color-white);
  padding: 3px;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, .2);

  img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
  }
}

.bold-author {
  font-weight: bold;
}

.message-element-date {
  color: var(--color-dkgray-75);
  font-size: var(--14px);
  align-self: center;
}

.message-element-text {
  grid-column: span 2;
}

/* chat input */
.chat-input-wrapper {
  background-color: var(--color-text);
  grid-column: 1/3;
  padding: 12px;
  border-radius: 0 0 4px 4px;
}

.chat-input {
  display:grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  border-radius: 5px;
  background-color: var(--color-white);
  textarea {
    width: 100%;
    border: none;
    padding: 10px;
    border-radius: 5px;
    resize: none;
    transition: all .3s;
    outline: none;
  }

  .message-send {
    color: var(--color-white);
    text-transform: uppercase;
    cursor: pointer;
    font-weight: bold;
    text-align: center;
    background: var(--color-ltgreen);
    padding: 4px 8px;
    border-radius: 4px;
    width: 50%;
    justify-self: end;
    margin-right: 4px;
    margin-bottom: 4px;
    &:hover {
      background-color: var(--color-dkgreen);
    }
  }
}

.tox-tinymce {
  border: none !important;
}

.editor-anchor {
  grid-column: span 2;
  anchor-name: --text-input;
}

.team {
  background-color: var(--color-aquablue);
}

.input-icon-wrapper {
  display: flex;
  gap: .7rem;
  padding-left: 6px
}

.input-icon-wrapper .icon {
  color: var(--color-dkgray-75);
  &:hover {
    color: var(--color-ltgreen);
  }
}