.chat-wrapper {
  display: flex;
  position: relative;
  height: 100%;
  width: 100%;
  min-width: 375px;
  border: none;
  border-radius: 4px;
  background-color: var(--color-white);
  box-shadow: 0px 0px 0px 1px rgba(64, 87, 109, .04), 0px 6px 20px -4px rgba(64, 87, 109, .3);
}

.team {
  background-color: var(--color-aquablue);
}

.chat-title {
  position: absolute;
  font-size: 1.25rem;
  border-radius: 4px;
  background-color: var(--color-text);
  color: var(--color-white);
  padding: 4px 16px;
  box-shadow: 0px 0px 0px 1px rgba(64, 87, 109, .04), 0px 6px 20px -4px rgba(64, 87, 109, .3);
  top: -19px;
  left: 12px;
}

.chat-body {
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  width: 100%;
}

.chat-header {
  display: flex;
  justify-content: space-between;
}

.case-details {
  display: flex;
  gap:8px;
  align-items: end;
  padding-left: 12px;
  font-size: var(--14px);
}

.chat-tool-icons {
  display: flex;
  justify-content: end;
  padding: 12px;
  z-index: 10;
  color: var(--color-dkgray-75);
  gap: 2px;

  .fa {
    cursor: pointer;
    padding: 3px 5px;
    margin: 0 0 0 3px;
    
    &:hover {
      color: var(--color-ltgreen);
    }
  }

  .icon-active {
    color: var(--color-dkgreen);
  }
}

/* CHAT MESSAGES */
.chat-messages {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow-y: scroll;
  background-color: var(--color-white);
  border-top: 1px solid var(--color-bg);

  .message-element {
    background-color: var(--color-gray-25);
    border-bottom: 1px dashed var(--color-gray);
    padding: 12px 8px;
    font-size: var(--15px);
  }

  .message-element-collaborator {
    background-color: var(--color-aquablue-25);
  }

  .message-element-counselor{
    background-color: var(--color-ltgreen-25);
  }

  .message-element-header {
    display: flex;
    gap: 8px;
    width: 100%;
  }

  .message-element-avatar {
    width: 40px;
    height: 40px;
    overflow: hidden;
    border-radius: 50%;
    background: var(--color-white);
    padding: 3px;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, .2);
    transition: .1s ease-out;
    bottom: 0;
    left: 6px;
  
    img {
      width: 100%;
      height: 100%;
      border-radius: 50%;
    }
  }

  .message-element-header-col {
    display: flex;
    flex-direction: column;
  }

  .bold {
    font-weight: bold;
  }
  
  .message-element-date {
    display: flex;
    flex: 1;
    justify-content: end;
    font-size: var(--14px);
  }

  .message-element-text {
    padding-top: 6px;
  }

  .message-data {
    margin-bottom: 15px;
  }

  .message-data-name {
    color: var(--color-dkgray);
    font-weight: 600;
  }
  
  .message-data-time {
    color: var(--color-gray);
  }
  
  .message {      
    color: var(--color-white);
    padding: 18px 20px;
    font-size: 1rem;
    border-radius: 7px;
    margin-bottom: 30px;
    width: 90%;
    position: relative;
    
    &:after {
      bottom: 100%;
      left: 7%;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
      border-bottom-color: var(--color-ltgreen);
      border-width: 10px;
      margin-left: -10px;
    }
  }  
}

.chat-dim-layer {
  position: absolute;
  background-color: var(--color-dkgray-10);
  height: 100%;
  width: 100%;
  visibility: hidden;
}

.chat-dim-layer-show {
  visibility: visible;
  transition: visibility 0.3s ease-in-out;
}

/* CHAT INPUT */
.chat-input {
  padding: 12px;
  display:flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  background-color: var(--color-text);
    
  textarea {
    width: 100%;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    resize: none;
    transition: all .3s;
    outline: none;
  }

  .message-send {
    color: var(--color-white);
    font-size: var(--15px);
    text-transform: uppercase;
    cursor: pointer;
    font-weight: bold;
    background: var(--color-ltgreen);
    padding: 8px;
    border-radius: 4px;
    &:hover {
      background-color: var(--color-dkgreen);
    }
  }
}
