.stakeholder-scroll {
  display: flex;
  flex-direction: column;
  gap: 8px;
  flex-grow: 1;
  overflow-y: auto;
}

.stakeholder-card {
  border-bottom: 1px solid var(--color-bg);
  display: flex;
  flex-direction: column;
  padding: 8px;

  &:hover {
    background-color: var(--color-bg);
    cursor: pointer;
  }
}