.burger-button {
  padding: 2.5px 0;
  background-color: var(--color-ltgreen);
  anchor-name: --menuButton;
  .icon {
    padding-left: 16px;
    z-index: 10;
  }
}

.burger-menu {
  position: fixed;
  position-anchor: --menuButton;
  top: anchor(end);
  background-color: var(--color-white);
  border: 1px solid var(--color-gray);
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  z-index: 100;

  .items {
    list-style:none;
    padding: 0;

    .item {
      display:flex;
      gap: 8px;
      align-items: center;
      font-size: var(--14px);
      transition: all .3s;
      cursor: pointer;
      padding: 4px 16px 4px 8px;
            
      &:hover {
        background-color: var(--color-yellow);
      }
    }
  }
}