.caseBar {
  display: flex;
  background-color: var(--color-ltgreen);
  padding-left: 1.5rem;
}

.case-button {
  padding: 4px 16px;
  border: none;
  background: none;
  cursor: pointer;
  font-size: var(--14px);
  border-right: 1px solid var(--color-white);
  transition: all 0.2s ease;
  color: var(--color-white);
  font-weight: bold;

  &:hover {
    color: var(--color-text);
    background-color: var(--color-bg);
  }
}

.case-button.active {
  color: var(--color-text);
  background-color: var(--color-yellow);
  border-bottom: none;

  &:hover {
    background-color: var(--color-yellow);
  }
}

.caseBar:first-child {
  border-left: 1px solid var(--color-white);
}