.toolbar {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto minmax(0, 1fr);
  gap: 8px;
  width: 90px;
  background-color: var(--color-white);
  box-shadow: 5px 0px 5px 0px rgba(0,0,0,0.1);
  transition: all 0.3s ease-in-out;
}

.expanded {
  width: 150px;
}

.toolbar-header {
  display: flex;
  justify-content: space-between;
  padding: 4px;
}

.toolbar-header .icon {
  justify-self: center;
  padding: 4px;
  color: var(--color-dkgray-75);
  cursor: pointer;

  &:hover{
    color: var(--color-ltgreen)
  }
}

.burger-button {
  anchor-name: --filterButton;
}

.burger-menu {
  position: fixed;
  position-anchor: --filterButton;
  top: anchor(end);
  background-color: var(--color-white);
  border: 1px solid var(--color-gray);
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  z-index: 100;

  .items {
    list-style:none;
    padding: 0;

    .tip-menu-item {
      display: grid;
      grid-template-columns: auto 1fr;
      gap: 4px;
      align-items: center;
      transition: all .3s;
      cursor: pointer;
      padding: 4px;
            
      &:hover {
        background-color: var(--color-yellow);
      }
    }
  }

  .tip-menu-item > div:first-of-type {
    display: flex;
    width: 20px;
    justify-content: center;
  }
}

.toolbar-list {
  display: flex;
  flex-direction: column;
  width: 100%;
  flex-grow: 1;
  overflow-y: auto;
  overflow-x: hidden;
}

.toolbar-list > div:first-of-type {
  border-top: 1px solid var(--color-bg);
}

.toolbar-list-card-wrapper {
  width: 100%;
  border-bottom: 1px solid var(--color-bg);
}

.toolbar-list-card {
  display: grid;
  grid-template-columns: auto 1fr;
  font-size: .75rem;
  cursor: pointer;
  padding: 8px 6px;
  width: 100%;
  align-items: center;
  gap: 4px;

  &:hover {
    background-color: var(--color-yellow);
  }
}

.list-card-active {
  font-weight: bold;
  background-color: var(--color-ltgreen);
  &:hover {
    background-color: var(--color-ltgreen);
  }
}

.tip-type {
  grid-row: 2/3;
  grid-column: 1/3;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.danger-icon {
  height: 13px;
  width: 13px;
  display: inline-block;
  margin-right: 3px;
  margin-bottom: -2px;
}

.tip-pulse {
  /* animation: shake 2s ease-in-out infinite; */
  /* animation: subtle-bounce-right 3s ease-in-out infinite; */
}

.tip-id-pulse {
  animation: text-pulse 3s ease-in-out infinite;
}

@keyframes pulse-colors {
  0% {
    background-color: var(--color-white);
  }
  50% {
    background-color: var(--color-burntorange-50);
  }
  100% {
    background-color: var(--color-white);
  }
}

@keyframes subtle-bounce-right {
  0%, 50%, 100% { 
      transform: translateX(0);
      color: inherit;
  }
  25% { 
      transform: translateX(3px);
      color: var(--color-red);
  }
}

@keyframes text-pulse {
  0%, 60%, 100% {
      transform: scale(1);
      text-shadow: 0 0 0 transparent;
      color: inherit;
  }
  30% {
      transform: scale(1.05);
      text-shadow: 0 0 2px var(--color-yellow);
      color: var(--color-burntorange);
  }
}