.toolbar {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto minmax(0, 1fr);
  width: 90px;
  background-color: var(--color-white);
  box-shadow: 5px 0px 5px 0px rgba(0,0,0,0.1);
  transition: width 0.3s ease-in-out;
}

.expanded {
  width: 150px;
}

.toolbar > button:first-of-type {
  justify-self: end;
  padding-right: 6px;
  padding-top: 6px;
}

.toolbar-list {
  display: flex;
  flex-direction: column;
  width: 100%;
  flex-grow: 1;
  overflow-y: auto;
  overflow-x: hidden;

  ul {
    padding: 0;
    margin: 0;
  }
}

.toolbar-list-group {
  margin-bottom: 1rem;
  
  li {
    padding: 0;
    margin: 0;
  }
}

.tip-group-title {
  display: flex;
  width: 100%;
  gap: 4px;
  padding: 4px;
}

.group-name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  span {
    font-size: var(--12px);
  }
}

.toolbar-list-card {
  display: grid;
  grid-template-columns: auto auto 1fr;
  border-bottom: 1px solid var(--color-gray-25);
  padding: 6px;
  width: 100%;
  align-items: center;
  gap: 5px;
  font-size: var(--12px);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  &:hover {
    background-color: var(--color-yellow-75);
  }
  transition: none;
}

.list-card-active {
  font-weight: bold;
  background-color: var(--color-ltgreen-75);
  &:hover {
    background-color: var(--color-ltgreen-75);
  }
}

.list-card-tipid {
  padding: 1px 2px;
}

.tip-message-count {
  background-color: var(--color-bg-75);
  border-radius: 6px;
  width: fit-content;
  padding: 1px 4px;
  justify-self: end;
}

.tip-id-pulse {
  animation: text-pulse 3s ease-in-out infinite;
}

@keyframes text-pulse {
  0%, 60%, 100% {
      transform: scale(1);
      text-shadow: 0 0 0 transparent;
      color: inherit;
  }
  30% {
      transform: scale(1.05);
      text-shadow: 0 0 2px var(--color-yellow);
      color: var(--color-burntorange);
  }
}