.tool-panel {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto minmax(0, 1fr);
  gap:1rem;
  margin-left: -350px;
  width: 350px;
  background-color: var(--color-white);
  padding: 8px;
  transition: all 0.3s ease-in-out;
}

.tool-panel.active {
  margin-left: 0;
}

.tool-panel-header {
  display: flex;
  justify-content: space-between; 
}

.panel-title {
  font-size: var(--h5);
}

.close-icon {
  color: var(--color-dkgray-75);
}