.profile-button {
  anchor-name: --profileButton;
}

.profile-list {
  position: fixed;
  position-anchor: --profileButton;
  position-area: bottom left;
  background-color: var(--color-white);
  border: 1px solid var(--color-gray);
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  z-index: 100;
  list-style:none;
  padding: 0;
}

.profile-list li {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 4px;
  align-items: center;
  transition: all .3s;
  cursor: pointer;
  padding: 4px;
  white-space: nowrap;
        
  &:hover {
    background-color: var(--color-yellow);
  }
}