#app {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto minmax(0, 1fr);
  height: 100vh;
}

header {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto;
  align-items: center;
  background: var(--color-dkgray);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 4px 20px;
  flex: 0 0 auto;

  img {
    width: 150px;
  }
}

header > div:last-child {
  display: flex;
  gap: 1rem;
  justify-content: end;
}

.icon {
  justify-self: center;
  padding: 4px;
  color: var(--color-icon);
  cursor: pointer;

  &:hover{
    color: var(--color-ltgreen)
  }
}

.icon-background {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: var(--color-white);
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, .2);
  transition: .1s ease-out;
}

.primary-button {
  color: var(--color-white);
  font-weight: bold;
  text-align: center;
  background: var(--color-ltgreen);
  padding: 4px 8px;
  border-radius: 4px;
  &:hover {
    background-color: var(--color-dkgreen);
  }
}

/* .secondary-button {
  
}

.tertiary-button {

} */